
@import "tailwindcss";


/* Your custom styles here */

:root {
  font-family: 'Dosis''Inter', system-ui, -apple-system, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis''Sora', 'Inter', system-ui, -apple-system, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

